*{
  margin: 0;
  padding: 0;
}
body{
  width: 1200px;
  display: block;
;

}
header{
  width: 960px;
  height: 250px;
  background: url(../img/Warstwa2@1X.png)no-repeat;
  background-size: cover;
  margin: auto;
}
.container{
  width: 980px;
  margin: auto;
}
ul{
  display: inline-block;
  text-align: center;
  font-size: 20px;
}
li{
  color: rgba(10, 10, 10, 255);
  text-align: center;
  list-style-type: none;
  display: inline;
  margin: 20px;
}

nav{
  display: block;
  width: 980px;
  text-align:center;
}
.li1{
  font-family: Calibri-Bold, RBNo2-Light, MyriadPro-Regular;
}

.title{
    margin: auto;
  width: 50%;
  text-align: center;
  font-family: TrajanPro-Regular, MyriadPro-Regular;
}
.maintitle{
  font-size: 40pt;
  border-bottom: 1px solid black;
  letter-spacing: 8px;
}
.subtitle{
  font-family: Calibri-Bold, TrajanPro-Regular, MyriadPro-Regular;
  font-size: 25pt;
  letter-spacing: 10px;
  border-bottom: 1px solid black;

}
.caption{
  font-family: Calibri-Bold, Calibri, MyriadPro-Regular;
  text-align: center;
}
.blocks{
  width: 980px;
  display: block;
  padding-top: 60px;
}
.block{
  width: 30%;
  height: 730px;
  float: left;
}
.center{
  margin-right: 20px;
  margin-left: 20px;
}
.imgp{
  border-bottom: medium double black;
}
.ps{
  text-align: center;
  display: inline-block;
  width: 100%;
}
span.zag{
  display: block;
  margin-top: 50px;
  font-family: Calibri-Bold, Calibri, MyriadPro-Regular;
}
p{
  vertical-align: auto;
  font-family: Calibri-Bold, Calibri, MyriadPro-Regular;
}
p.mini{
  font-size: 12px;
}
span.braces {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.end{
  display: block;
}
.endtext{
  width: 650px;
  font-size: 14px;
  float: left;
}
.articles{
  float: right;
  width: 280px;
  display: inline-block;
}
footer{
  width: 960px;
  display: block;
  margin: auto;
}
.design{
  display: inline-block;

}
.social{
  display: inline-block;
  float: right;
}
